mixin footer(footerMods)
  -
    const socials = [
      {href: "#", name: "Твиттер", icon: "twitter"},
      {href: "#", name: "Фейсбук", icon: "facebook"},
      {href: "#", name: "Инстаграм", icon: "inst"},
      {href: "#", name: "Гитхаб", icon: "github"},
    ]
  -
    const quickLinks = [
      {href: "index.html", text: "Home"},
      {href: "index.html#our-pricing", text: "Pricing Plan"},
      {href: "index.html#our-service", text: "Service"},
      {href: "detail-blog.html", text: "Blog"},
      {href: "about-us.html#team-block", text: "Our Team"},
    ]
  -
    const supportLinks = [
      {href: "about-us.html", text: "About us"},
      {href: "#", text: "Contact us"},
      {href: "#", text: "FAQ"},
      {href: "#", text: "Tems & Conditions"},
      {href: "#", text: "Privacy Policy"},
    ]
  -
    const helps = [
      {
        href: "#",
        text: "Tanjung Sari Street no.48, Pontianak City",
        isExternal: "true",
        icon: "location",
      },
      {
        href: "mailto:support@vrnas.com",
        text: "Support@VRNas.com",
        icon: "message",
      },
      {
        href: "tel:+1234567890",
        text: "+123 456 7890",
        icon: "calling",
      },
    ]

  footer.footer#main-footer
    .container
      .footer__grid(data-scroll)
        .footer__first-column
          +logo()
          .footer__socials
            each link in socials
              a.footer__social-link.link(href=link.href target="_blank" rel="nofollow noopener noreferrer")
                span.visually-hidden!= link.name
                img(src=`img/svg/footer/socials/${link.icon}.svg`, width="46", height="46", alt="just decorate.", aria-hidden="true", loading="lazy")

        section.footer__column.footer__column--second
          h2.footer__section-title Quicklinks
          ul.footer__links-list
            each link in quickLinks
              li.footer__item
                a.footer__link(href=link.href)!=  link.text

        section.footer__column.footer__column--third
          h2.footer__section-title Support
          ul.footer__links-list
            each link in supportLinks
              li.footer__item
                a.footer__link(href=link.href)!=  link.text

        section.footer__column.footer__column--fourth
          h2.footer__section-title Need Help?
          ul.footer__links-list
            each link in helps
              if link.isExternal
                li.footer__item
                  a.footer__link(href=link.href target="_blank" rel="nofollow noopener noreferrer")!= link.text
                    +icon(link.icon, "20", "20")
              else
                li.footer__item
                  a.footer__link(href=link.href)!= link.text
                    +icon(link.icon, "20", "20")

      .footer__copy © Copyright 2023, All Rights Reserved
